<%
# Copyright (C) 2010 Felipe Peña Pita
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License Version 3
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-%>
<div id="terms">
  <h3><%= t 'terms.title' -%></h3>
  <p><%= t 'terms.creative_commons.p1' -%></p>
  <p><%= t 'terms.creative_commons.p2' -%></p>
  <p><%= t 'terms.creative_commons.p3' -%></p>
  <p><%= t 'terms.creative_commons.p4' -%></p>
  <p><%= t 'terms.creative_commons.p5' -%></p>
  <p><%= t 'terms.creative_commons.p6' -%></p>
  <p><%= t 'terms.creative_commons.p7' -%></p>
</div>
