<%
# Copyright (C) 2010 Felipe Peña Pita
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License Version 3
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
-%>
<div id="credits">
    <h3 id="credits_title"><%= t 'credits.title' -%></h3>
    <p>
      <%= t 'credits.author' -%>
      <a href="http://www.gnu.org/licenses/agpl-3.0.html"><%= t 'credits.license' -%></a>
    </p>
    <p>
      <%= t 'credits.suggestions' -%>
    </p>

    <h3 id="credits_links"><%= t 'credits.links' -%></h3>
    <p>
      <%= t 'credits.links_text' -%>
    </p>

    <ul>
      <li>
        <%= t 'credits.forxa' -%>: <a href="https://forxa.mancomun.org/projects/raicesgalegas/"><%= t 'credits.forxa_link' -%></a>
      </li>
      <li>
        <%= t 'credits.github' -%>: <a href="http://github.com/fpenapita/raicesgalegas"><%= t 'credits.github_link' -%></a>
      </li>
    </ul>
</div>